In [ ]:
#Question 0:
marks = {'Andy':88,'Amy':66, 'James':90, 'Jule':55,'Arthur':77}

In [3]:
#Question 1:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
for name, grade in marks.items():
    print(name, grade)

Andy 88
Amy 66
James 90
Jule 55
Arthur 77

In [6]:
#Question 2:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
all_value=marks.values()
max_value=max(all_value)
print(max_value)

90

In [7]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
all_value1=marks.values()
min_value=min(all_value1)
print(min_value)

55

In [9]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
res=0
for val in marks.values():
    res+=val
res=res/len(marks)
print(res)

75.2

In [11]:
#Question 3
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
for name in marks:
    if 'J'in name:
        break
    print(name)

Andy
Amy

In [12]:
#Question 4
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
for name in marks:
    if 'J'in name:
        continue
    print(name)

Andy
Amy
Arthur

In [15]:
#Question 5
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
def print_student(student_name):
    marks = {'Andy':88, 'Amy':66, 'James':90, 'Jule':55,'Arthur':77}
    for student in marks:
        if student == student_name:
            print(marks[student])
#for example
print_student('James')
print_student('Qi')

90

In [20]:
#Question 6
def less_than(num):
    n=0
    while n <num:
        print(n)
        print(pow(n,2))
        n+=1
    else:
        print('greater than',num)
less_than(5)

0
0
1
1
2
4
3
9
4
16
greater than 5

In [22]:
#Question 7
def sumfunction(num):
    n = 1
    sum = 0
    while n < num:
        sum = sum + n
        n = n + 1
    print(sum)
#for example
sumfunction(20)

190

In [24]:
#Question 9
def range_sum(num):
    sum = 0
    for n in range(num):
        sum = sum + n
        print(sum)
range_sum(3)

0
1
3

In [ ]:
#Question 10
def minimal(v1, v2, v3, v4):
    min_value = v1
    if v2 < min_value:
        min_value=v2
    if v3 < min_value:
        min_value=v3
    if v4 < min_value:
        min_value=v4
    return min_value